.productInfoModal {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 90vw;
  height: 90vh;

  background-color: white;
  border-radius: 10px;
  z-index: 1000;
}

.productStatusContainer {
}

/* Imagens dos produtos */
.productImageContainer { 
}

.productImageContainer img {
  width: 20%;
  height: auto;
}

/* Nome e categoria */
.productTitlesContainer {
  text-align: start;
}

.productTitlesContainer h2 {
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 3vw;
}

.productInfoContainer {
  color: black;
  text-align: start;
}