.productInfoModal {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: absolute;
  width: 90vw;
  height: 90vh;

  background-color: white;
  border-radius: 10px;
}

.productStatusContainer {
  grid-area: 1 / 1 / 2 / 5;
}

/* Imagens dos produtos */
.productImageContainer { 
  grid-area: 2 / 1 / 5 / 3;
}

.productImageContainer img {
  width: 100%;
  height: auto;
}

/* Nome e categoria */
.productTitlesContainer {
  grid-area: 2 / 3 / 3 / 5;
  text-align: start;
}

.productTitlesContainer h2 {
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 3vw;
}

.productInfoContainer {
  grid-area: 3 / 3 / 5 / 5;
  color: black;
  text-align: start;
}