* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.productToolbar {
  display: flex;
  justify-content: center;
  position: relative; 
  height: 20px;
}

.searchBox {
  background-color: white;
  border: none;
  border-radius: 50px;
  width: 30vw;
}

.newProductButton {
  width: 30px;
  height: auto;
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.productCard {
  background-color: rgb(55, 59, 68);
  border: 1px solid black;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  width: 200px;
  height: 300px;
  cursor: pointer;
}

.productInfoModal {
  width: 90vw;
  height: 90vh;
  background-color: white;
  display: grid;
  position: absolute;
}